body{
  background: url(../public/imagens/fundo1.jpeg) center / cover no-repeat fixed;
  /* overflow: hidden; */
  display: grid;
  
}
.AppStyle {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 80% 20%;
  grid-template-areas: 
  "menu"
  "principal"
  "rodape"
  ;
  row-gap: 5px;
  padding: 1px;
  box-sizing: border-box;


 
}

.Menu{
  
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100vh;

}

.Principal{
  
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  overflow: auto;
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  
}


.Principal img{
  max-width: 100%;
  width: 100%;
  

}